[user]
    name = li.tianhua
    email = li.tianhua@yihe.io
[push]
    default = simple
[format]
    pretty = medium
[core]
    editor = vim
    # sudo npm install -g diff-so-fancy
    pager = diff-so-fancy | less --tabs=4 -RFX
[color]
    ui = always
[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green
[color "status"]
    added = yellow
    changed = green
    untracked = cyan
[diff]
    tool = nvimdiff2
[difftool "nvimdiff2"]
    cmd = nvim -d $LOCAL $REMOTE
[difftool]
    prompt = false
[merge]
    tool = vimdiff
[log]
    date = iso
[pull]
    rebase = true
