[user]
    name = 李天华
    email = lith@weipaitang.com
[format]
    pretty = medium
[core]
    editor = nvim
    # sudo npm install -g diff-so-fancy
	pager = diff-so-fancy | less --tabs=4 -RFX
	excludesfile = /Users/litianhua/.gitignore_global
[color]
    ui = always
[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green
[color "status"]
    added = yellow
    changed = green
    untracked = cyan
[diff]
    tool = vimdiff
[difftool]
    prompt = false
    trustExitCode = true
[difftool "vimdiff"]
    path = nvim
[merge]
    tool = vimdiff
    # conflictstyle = diff3
[mergetool]
    prompt = false
    trustExitCode = true
    keepBackup = false
[mergetool "vimdiff"]
    path = nvim
[log]
    date = iso
[push]
    default = simple
[pull]
    rebase = true
