[user]
	name = li.tianhua
	email = li.tianhua@yihe.io
[push]
	default = simple
[color]
	ui = auto
	diff = auto
	status = auto
	branch = auto
	interactive = auto
[format]
	pretty = oneline
[core]
	editor = vim
    # sudo npm install -g diff-so-fancy
    pager = diff-so-fancy | less --tabs=4 -RFX
[diff-so-fancy]
	stripLeadingSymbols = false
