[user]
    name = li.tianhua
    email = li.tianhua@yihe.io
[push]
    default = simple
[format]
    pretty = oneline
[core]
    editor = vim
    # sudo npm install -g diff-so-fancy
    pager = diff-so-fancy | less --tabs=4 -RFX
[color]
    ui = always
[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green
[color "status"]
    added = yellow
    changed = green
    untracked = cyan
[diff]
    tool = vimdiff
[merge]
    tool = vimdiff
