set hlsearch
set ignorecase
set number
set relativenumber
set clipboard=unnamedplus
set history=2000
set incsearch
set showmode
set matchpairs
set smartcase
set scrolloff=10
set sidescroll=1
set sidescrolloff=10

set surround

" Keymap

let mapleader=";"
map <leader>g gd

vnoremap < <gv
vnoremap > >gv

nnoremap * *``zz

map H ^
map dH d^
map cH c^
map yH y^
map L $
map dL d$
map cL c$
map yL y$

" Go To
map <Leader>f :action GotoFile<CR>
map <Leader>c :action GotoClass<CR>
map <Leader>s :action GotoSymbol<CR>

" AceJump
map f :action AceAction<CR>
vnoremap f :<BS><BS><BS><BS><BS>action AceAction<CR>
nnoremap <Space> m'`<v``
map F :action AceTargetAction<CR>
