set hlsearch
set ignorecase
set number
set relativenumber
set clipboard=unnamedplus
set history=2000
set incsearch
set showmode
set matchpairs
set smartcase
set scrolloff=10
set sidescroll=1
set sidescrolloff=10

set surround

" Keymap

let mapleader=";"
map <leader>g gd

vnoremap < <gv
vnoremap > >gv

nnoremap * *``zz

map H ^
map L $

map <Leader>q :q<CR>

" Go To
nnoremap <Space> :action GotoFile<CR>
map <Leader>c :action GotoClass<CR>
map <Leader>s :action GotoSymbol<CR>

" Structure
nnoremap <Leader>t :action FileStructurePopup<CR>

" 高亮
nnoremap <Leader><Leader> :nohlsearch<CR>

" rename
nnoremap <Leader>r :action RenameElement<CR>

" 关闭所有其他标签
nnoremap <Leader>b :action CloseAllEditorsButActive<CR>

" 查找引用
nnoremap <Leader>f :action FindUsages<CR>
