set hlsearch
set ignorecase
set number
set relativenumber
set clipboard = unnamed
set history = 2000
set incsearch
set showmode
set matchpairs
set smartcase
set scrolloff=10
set sidescroll=1
set sidescrolloff=10

set surround

noremap H ^
noremap L $
